* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #26252e;
}

#text {
    user-select: none;
    font-size: 1.2rem;
    color: white;
    font-family: monospace;
    padding: 20px;
    width: 60%;
    line-height: 2;
}

#text-field {
    font-size: 1.3rem;
    color: white;
    font-family: monospace;
    background-color: #323240;
    border: none;
    width: 60%;
    padding: 20px;
}

#text-field:focus {
    outline: none;
}

/* LETTERS--------------------------------- */

#text span {
    border-radius: 3px;
    padding: 1px;
}

.letter--correct {
    background-color: rgb(109, 255, 153);
    color: black;
}

.letter--wrong {
    background-color: rgb(255, 89, 108);
    color: black;
}

.letter--current {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.163);
}

/* -------------- RESULT ----------------- */

.result {
    background-color: rgba(16, 12, 21, 0.688);
    font-family: sans-serif;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.result--win {
    display: flex;
    color: rgb(109, 255, 153);
}

.result--lose {
    display: flex;
    color: rgb(255, 69, 88);
}

.result-header {
    font-size: 3rem;
}

.result-text {
    font-size: 1.5rem;
}

.result-buttons {
    width: 40%;
    display: flex;
    gap: 20px;
}

.result-button {
    flex-grow: 1;
    padding: 20px;
    border: none;
    background-color: #262230;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.582);
    color: white;
    font-size: 1.2rem;

    transition: transform .2s, box-shadow .2s;
}

.result-button:hover {
    cursor: pointer;
    transform: translate(0px, -7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.582);
}


/* -------------- LEVEL MENU ------------ */

.level-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(21, 19, 25);
    box-shadow: inset 10px 0 20px black;
    overflow-y: auto;
}

.level-menu-title {
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

#levels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.level {
    position: relative;
    border: none;
    background-color: #26252e59;
    color: #ffffff9d;
    padding: 10px;
    font-size: 1rem;
}

.level::after {
    display: inline-block;
    position: absolute;
    content: "";
    background-color: rgb(99, 100, 108);
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    right: 10px;
    box-shadow: 0 0 5px black;
}

.level--completed::after {
    display: inline-block;
    position: absolute;
    content: "";
    background-color: rgb(96, 255, 160);
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    right: 10px;
    box-shadow: 0 0 5px black;
}

.level--active {
    background-color: #26252e;
    color: white;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px black;
}

.level:hover {
    cursor: pointer;
    background-color: #26252e;
    color: white;
}


/* ---------------------- KEYBOARD ---------------- */

.keyboard {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard-row {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.space-row {
    justify-content: center;
}

.key {
    user-select: none;
    opacity: 30%;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: monospace;
    width: 5%;
}

.space-key {
    width: 38%;
}

.backspace-key {
    width: 8%;
    font-size: 0.8rem;
}

.shift-key {
    width: 10%;
}

.last-left-key {
    margin-right: 6%;
}


@media (max-width: 1000px) {
    .container {
        align-items: flex-start;
    }

    #text {
        width: 80%;
    }

    #text-field {
        width: 80%;
    }

    .keyboard {
        width: 80%;
    }
}

.little-finger-key {
    background-color: #ff2658;
}

.ring-finger-key {
    background-color: #1f71ff;
}

.middle-finger-key {
    background-color: #54ff68;
}

.index-finger-key {
    background-color: #ff75ff;
}

.thumb-finger-key {
    background-color: #ffea5e;
}

.key--active {
    opacity: 100%;
    box-shadow: 0 10px 20px black;
    transform: translateY(-10%);
    color: rgb(23, 22, 41);

}