* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #26252e;
}

#text {
    font-size: 1.3rem;
    color: white;
    font-family: monospace;
    padding: 20px;
    width: 70%;
}

#text-field {
    font-size: 1.3rem;
    color: white;
    background-color: #323240;
    border: none;
    width: 70%;
    padding: 20px;
}

#text-field:focus {
    outline: none;
}

/* LETTERS--------------------------------- */

#text span {
    border-radius: 3px;
}

.letter--correct {
    background-color: rgb(109, 255, 153);
    color: black;
}

.letter--wrong {
    background-color: rgb(255, 89, 108);
    color: black;
}

.letter--current {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.163);
}

/* -------------- RESULT ----------------- */

.result {
    background-color: rgba(16, 12, 21, 0.688);
    font-family: sans-serif;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    position: absolute;
    width: 100%;
    height: 100vh;
}

.result--win {
    display: flex;
    color:rgb(109, 255, 153);
}

.result--lose {
    display: flex;
    color:rgb(255, 69, 88);
}

.result-header {
    font-size: 3rem;
}

.result-text {
    font-size: 1.5rem;
}

.result-buttons {
    width: 40%;
    display: flex;
    gap: 20px;
}

.result-button {
    flex-grow: 1;
    padding: 20px;
    border: none;
    background-color: #262230;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.582);
    color: white;
    font-size: 1.2rem;

    transition: transform .2s, box-shadow .2s;
}

.result-button:hover {
    cursor: pointer;
    transform: translate(0px, -7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.582);
}